@(appForm: Form[App])

@import helper._

@main("Create new App") {

    <h1>Create a new App</h1>
    
    @helper.form(routes.AppController.save()) {
        
        <fieldset>
            @helper.inputText(appForm("name"),
                  '_label -> "app name",
                  '_help -> "")

            @helper.inputText(appForm("id"),
                  '_label -> "app id",
                  '_help -> "")

            @helper.inputText(appForm("password"),
                '_label -> "app store password",
                '_help -> "")

            @helper.inputText(appForm("vMajor"),
                '_label -> "app vMajor",
                '_help -> "")

            @helper.inputText(appForm("vMinor"),
                '_label -> "app vMinor",
                '_help -> "")

            @helper.inputText(appForm("vMinorMinor"),
                '_label -> "app vMinorMinor",
                '_help -> "")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create the App" class="btn primary">
        </div>
        
    }
    
}